/* Importar la fuente Amsterdam */
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');


@font-face { 
    font-family: Amsterdam; 
    src: url("../../fonts/AmsterdamOne.ttf");
  } 
  
  .slide1 {
      position: relative;
      left: 0;
      right: 0;
      width: 100vw;
      min-width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #e8f0fa;
      overflow: hidden; /* Evita el desbordamiento vertical y horizontal */
  }

  .fecha{
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-top: 10%;
    letter-spacing: 5px;
    color: #ffffff;
    
   
  }
  
  .slide1::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-image: url("../imagenes/manos.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      
      pointer-events: none;
      z-index: 0;
  }
  
  .slide1 > * {
      position: relative;
      z-index: 1;
  }
  
  .slide1 h1 {
      
      font-size: 75px;
      line-height: 1.5;
      font-family: "Amsterdam", Arial, serif;
      color: #ffffff;
      font-weight: 600;
      padding: 0;
  } 
  
  /* Estilos responsivos para el h1 */
  @media screen and (max-width: 768px) {
      .slide1 h1 {
          font-size: 60px;
      }
  }
  
  @media screen and (max-width: 480px) {
      .slide1 h1 {
          font-size: 30px;
      }
  }
  
  .cami-will {
      font-size: 20px;
      line-height: 1.5;
      margin-top: 15px;
      font-family: "Engagement", cursive;
      color: white;
  }

  .nos-casamos {
    font-family: "Prata", serif;
  
    font-style: normal;
    font-size: 12px;
   
    letter-spacing: 1px;
    color: #ffffff;
    
  }
  

  .flores-top-left {
      position: absolute;
      top: 0;
      left: 0;
      width: 40%; /* Ancho responsivo */
      max-width: 100vw;
      height: auto;
  }
  .flores-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25%; /* Ancho responsivo */
    max-width: 100vw;
    height: auto;
  }

.anillos-container {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.anillos {
    width: 80px;
    height: 80px;
}

.save-the-date-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8%;
 
  width: 100%;
  max-width: 1000px;
  min-height: 40px;
  z-index: 2;
  position: relative;
}

.save-the-date-line {
  flex: 1;
  height: 3px;
  background: #fff;
  margin: 0 40px;
  border-radius: 2px;
  opacity: 0.85;
}

.save-the-date-text {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 18px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 400;
}

.save-the-date-row, .save-the-date-line, .save-the-date-text {
  position: relative;
  z-index: 2 !important;
}
