@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

.slide5-container {
  max-width: 100vw;
  width: 100vw;
  margin: 30px auto 0 auto;
  padding: 48px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #e8f0fa;
}

.slide5-title {
  /* font-family: 'Amsterdam', serif; */
  font-size: 56px;
  color: #222;
  margin-bottom: 32px;
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.slide5-vestimenta {
  max-width: 80px;
  height: auto;
  margin-bottom: 24px;
}

.slide5-dress-code-box {
  max-width: 600px;
  width: 100%;
  padding: 32px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide5-icon {
  margin-bottom: 24px;
  color: #b6c6d6;
}

.slide5-icon svg {
    width: 64px;
    height: 64px;
}

.slide5-main-title {
 
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #333;
  margin: 0 0 24px 0;
  font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

.slide5-dress-code {
 
  font-size: 18px;
  color: #555;
  margin: 4px 0;
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;

}

.slide5-dress-code strong {
  font-weight: 600;
  color: #333;
}

.slide5-note {
 
  font-size: 16px;
  color: #777;
  margin-top: 24px;
  font-style: italic;
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 700px) {
  .slide5-dress-code-box {
    max-width: 90vw;
    width: 90vw;
  }
  .slide5-title {
    font-size: 40px;
  }
}
  
  .slide5-vestimenta {
    width: 100%;
    height: auto;
    max-width: 500px;
  }